﻿@page
@model AdminModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>
<div>

    <div class="input-group mb-3">

        @if (Model.obsWebSocket.IsConnected)
        {
            <form method="post"><button class="btn btn-danger">Disconnect OBS</button></form>

        }
        else
        {
            <form method="post"><button class="btn btn-success">Connect OBS</button></form>
        }
    </div>

    <div class="input-group mb-3">

        @if (Model.spotifyService.client != null)
        {
            <form method="post" asp-page-handler="Spotify"><button class="btn btn-danger">Disconnect from Spotify</button></form>
        }
        else
        {
            <form method="post" asp-page-handler="Spotify"><button class="btn btn-success">Login to Spotify</button></form>
        }


    </div>

    <div>


    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">OBSConnectionstring</span>
        </div>
        <input type="text" class="form-control" placeholder="@Model.config.oBSConfig.Connectionstring" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">OBSPassword</span>
        </div>
        <input type="text" class="form-control" placeholder="@Model.config.oBSConfig.Password" aria-label="Username" aria-describedby="basic-addon1">
    </div>
</div>

<script language="JavaScript" type="text/javascript" src="/vendor.min.js"></script>
<script>

    $("[name='toggleChk']").bootstrapSwitch();

    $('input[name ="toggleChk"]').on('switchChange.bootstrapSwitch', function (event, state) {
        console.log(this); // DOM element
        console.log(event); // jQuery event
        console.log(state); // true | false
    });
</script>
