﻿@page
@model WebDeck.Pages.DeckModel
@{
    ViewData["Title"] = "Deck";

}

<div class="container-fluid h-100" style="position: fixed;">
    @for (int y = 0; y <= 3; y++)
    {
        <div class="row   d-flex justify-content-center flex-grow-1" style="height:15vh" align="center">
            @for (int x = 0; x <= 7; x++)
            {
                <div class="col   d-flex flex-grow-1 justify-content-center" align="center">
                    @{ var icon = Model.iconPage.FirstOrDefault(e => e.PosX == x && e.PosY == y); }
                    @if (icon != null)
                    {
                        var color = (icon.Disabled) ? "gray" : "black";

                        <button class="btn " name="val" value="@icon.CommandType#@icon.CommandText" onclick='sendDeckCommand(this)'>
                            <i class="DeckButton @icon.IconPath fa-4x" style="color: @color;"></i><br />@icon.DisplayName
                        </button>

                    }
                    else
                    {
                        <button class="btn">
                            <i class="far fa-square" style="color: lightgray;"></i><br />Empty
                        </button>
                    }
                </div>
            }
        </div>
    }
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/DeckHub.js"></script>
