﻿@page
@model WebDeck.Pages.IconConfigurationModel
@{
    ViewData["Title"] = "IconConfig";
}

<div class="container">
    <div class="row">
        @foreach (var propname in Model.UsedProperties)
        {
            <div class="col d-flex flex-grow-1 justify-content-center">
                <p>@propname</p>
            </div>
        }
    </div>
    @foreach (var fuu in Model.iconConfigs)
    {
        <div class="row">
            @foreach (var propname in Model.UsedProperties)
            {
                <div class="col d-flex flex-grow-1 justify-content-center">
                    <input class="form-control " id="exampleFormControlTextarea1" value="@fuu.GetType().GetProperty(propname).GetValue(fuu,null)">
                </div>
            }
        </div>
    }
 
    <div>
        <form method="post" asp-page-handler="Peter" asp-for="teststring">
            <label asp-for="teststring"></label>
            <input  type="text" asp-for="teststring"/>
            <button type="submit" ></button>
            @*<button type="submit" class="btn btn-warning">MakePersistent</button>*@
        </form>
    </div>
</div>

