﻿@page
@model WebDeck.Pages.TestModel
@{
    ViewData["Title"] = "IconConfig";
}

<h3>@Model.Message</h3>
<form method="post"  asp-page-handler="Hugo"><button class="btn btn-default">Click to post</button></form>
<p><a href="/handlerexample" class="btn btn-default">Click to Get</a></p>